.cqhead{
    /* min-height: 100vh; */
    color: white;
    background-color: rgb(38, 32, 30); 
    padding: 11rem 20px 10px 20px;
}
.cqhbody{
    width:70%;
    padding: 20px;
    margin: auto;
}
.cqhbody h1{
    font-size: 4.4vw !important;
    font-weight: 800 !important;
    line-height: normal;
    margin-bottom: 30px;
}
.cqhbody h5{
    margin: 2px;
    letter-spacing: 7px;
}
.cqhfot{
    margin-top: 15%;
}
.cqhfot div{
    font-size: 1.06vw;
    width: 40%;
}
@media screen and (max-width:1252px) {
    .cqhbody{
        width:100%;
    }
}
@media screen and (max-width:831px){
    .cqhfot div{ font-size:small;width: 47%; text-align: center;    }
}