:root {
  --tbgblue: #3e64ff;
  --tbglueop1: #738efab4;
  --tbgblueop2: #3ed5ffc1;
  --textlow-1: rgba(59, 59, 59, 0.695);
  --textlow-2: rgba(87, 87, 87, 0.804);
}
body {
  margin: 0;
  font-family: 'Jost', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #000 !important;
  letter-spacing: .3px;
}
h1{
  font-size: 3rem !important;
  font-weight:bolder!important;
}
.h5{
  font-weight: 700 !important;
}
p{
  font-weight: 600;
}
a{
  text-decoration: none !important;
  color: inherit !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navbar */
.navbar {
  width: 75%;
  position: fixed !important;
  left: 50%;
  transform: translateX(-50%);
  transition: background-color 0.3s ease;
  z-index: 100;
  background-color:rgba(0, 0, 0, 0.38);
  /*   background-color:rgba(0, 0, 0, 0.525); */
  margin: 10px 0px;
  padding: 0px !important; 
  border-radius: 10px;
}
/* scroll */
.navbar.scrolled {
  justify-content: center;
  width: 100%;
  gap: 15%;
  margin: 0px;
  border-radius: 0px;
  background-color: rgb(255, 255, 255);
}
.navbar.scrolled .navitem a{
  color: black !important;
}
.navbar.scrolled .logo a img{
  width: 70px;
}
.logo a img{
  width: 100px;
  border-radius: 10px;
}
.navigationlist,
.navbar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center !important;
}
.navigationlist{  margin: auto;}
.navitem {
  cursor: pointer;
  padding: 0px .7rem;
  margin: 0px 10px;
  font-weight: 700;
  position: relative;
}

.navitem a {
  color: rgb(255, 255, 255) !important;
}
.navitem a:hover
{
  color: orangered;
}
.navitem::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 8px;
  bottom:-5px;
  background-color:orangered;
  transition: width .5s;
}

.navitem:hover::after {
  width: 82%;
}

#opennav {
  height: 20px;
  position: relative;
  cursor: pointer;
  display: none;
}

#opennav::before {
  content: "";
  position: absolute;
  height: 2.5px;
  width: 25px;
  background-color: rgb(15, 4, 0);
  top: 0;
  left: 4px;
  transition: all .5s;
}

#opennav::after {
  content: "";
  position: absolute;
  height: 2.5px;
  width: 25px;
  background-color: rgb(15, 4, 0);
  bottom: -0px;
  left: 4px;
  box-shadow: 0 -9px 0px rgb(15, 4, 0);
  transition: all .5s;
}

.navbar .closenav::before {
  transform: translateY(9px) rotate(45deg);
}

.navbar .closenav::after {
  transform: translateY(-8px) rotate(-45deg);
  box-shadow: none !important;
}


/* home  */
#home{
  height:85vh;
  /* background-image: url(./items/img1.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  background-image: 
  linear-gradient(to bottom, rgba(0, 0, 0, 0.465), rgba(0, 0, 0, 0.734)), 
  url(../src/components/items/img1.webp);
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}
.contentbox{
  color: aliceblue;
  max-width: 600px;
}
.homebtn:hover {
  /* background-color: var(--bs-btn-bg) !important; */
  color: white !important;

}

/* featuressec */
#featuressec{
  background-color: #ffffff;
  height:290px;
  position: relative;
}
#featurescontainer{
  transform: translate(0px, -70px);
  position: absolute;
}
#featurescontainer .card:first-child, #featurescontainer .card:nth-child(2){
  border-right: 2px dashed #20202032 !important;
}
#featurescontainer .card{
  border: none !important;
  padding: 25px  !important;
}
#featurescontainer .card img{
  width: 60px;
  margin-bottom: 5px;
}
.card .card-text{
  color: rgba(96, 96, 96, 0.848) !important;
}
#featurescontainer .card span, #events span {
  color: #3d3d3dda;
  font-weight: 700;
  font-size: .9rem;
  cursor: pointer;
  transition: all .3s;
}
#featurescontainer .card span:hover , #events span:hover{
  color: rgba(228, 132, 13, 0.795);
  text-decoration: underline;
  text-underline-offset: 2px;
}

/* events */
#events{
 padding: 50px;
}
#events h1::after{
  content: "";
  position: absolute;
  height: 5px;
  width:4rem;
  bottom: -2px;
  left: 48%;
  background-color: rgb(255, 191, 0);
}
#events>div{
  margin-top: 40px;
}
#events .card{
  border: none !important;
  margin: 15px;
}
#events img{
  width: 100%;
  height: 170px;
}
#events .card-body ul{
  list-style: none;
  padding: 0px;
}
#events .card-body ul li i{
  color: #ff6a00da;
}

/* Welcome */
#welcome{
  height: 80vh;
  text-align: center;
  color: white;
  background-image: 
  linear-gradient(to bottom, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.734)), 
  url(../src/components/items/img5.webp);
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  position: relative;
}
.welcomcontent,.welcomcontent div{
  width: 70%;
  text-align: center;
  margin: auto;
  z-index: 100;
}
.welcomcontent h1
{
  font-size: 5.9vw !important;
}
.welcomcontent p{
  font-size: larger;
  padding: 30px 10px calc(30px - 1.5rem) 10px;
}
#welcome img{
  width: 16%;
  max-height: 250px;
  /* filter: drop-shadow(16px 16px 10px black); */
  filter: blur(.2px) drop-shadow(7px 7px 9px black);
  opacity:.8;
  position: absolute;
}
#wlimg1{
  top: 0;
  left: 0;
}
#wlimg2{
  top: 0;
  right: 0;
}
#wlimg3{
  bottom: 0;
  left: 0;
}
#wlimg4{
  bottom: 0;
  right: 0;
}

/* team */
/* #teamsec{
  flex-wrap: wrap;
} */
.team img{
  max-width: 700px;
}
footer{
  padding: 5% 10%;
  background-color: #2628331b;
}
.fotimg img{
  width:600px;
  margin: 10px;
}
.fotinfo h1{
  font-size:70px !important;
  font-weight: 700;
  margin-bottom: 20px;
}
.fotinfo span i{
  font-size: 1.5rem;
  margin-right:13px;
  color: #ff6a00da;
  cursor: pointer;
}
.fotinfo span i:hover{
  color: rgba(228, 132, 13, 0.795);
}

@media screen and (max-width:1237px) {
.navbar{
  width: 90%;
}
}

@media screen and (max-width:1091px) {
  .navbar {
    width: 100%;
    padding: 0px 10px !important;
  }
  .logo a img {
    width: 74px;
  }
  .navitem {
    padding: 0px .3rem;
  }
  .navbar.scrolled {
    gap: 5%;
  }
  #featuressec{
    background-color: #ffffff;
    height:auto
  }
  #featurescontainer{
    transform: none;
    position: relative
  }
  #featurescontainer .card:first-child, #featurescontainer .card:nth-child(2){
    border-right: none !important;
  }
  .team img{
    width: 500px;
  }
  .fotimg img{
    width: 80vw;
  }
}
@media screen and (max-width:853px) {
  .navbar{
    padding: 10px 0px;
    width: 75%;
    background-color: transparent;
  }
  .navbar.scrolled {
    gap: 60%;
  }

  #opennav {
    display: block;
  }
  /* .navbar {
    padding-top: 30px;
  } */
  .navigation {
    display: none;
    position: absolute;
    right: -40px;
    top: 80px;
    padding: 10px 30px 10px 10px;
    background-color: rgba(66, 26, 12, 0.396);
    border-radius: 20px;
    font-size: larger;
    z-index: 10000;
  }

  .navbar.scrolled .navigation {
    right: 20px;
    top: 100px;
  }

  .navigationlist {
    display: block;
  }

  .pupevent{
   justify-content: center;
  }
  #teamsec{
    flex-wrap: wrap;
  }
  .team img, #aboutteam {
   width: 100vw;
  }
}


@media screen and (max-width:576px) {
 h1, .welcomcontent h1, #whatis h1{
    font-size: xx-large !important;
  }  
  .navigation {
    right: -10px;
    padding: 10px 10px 10px 0px;
    font-size: medium;
  }
  #welcome{height: auto !important;}
.welcomcontent, .welcomcontent div {
  width: 98%;
}  
.welcomcontent p, #whatis p {font-size: medium !important;}
  #events, #howwestart, #howwedis, #whatis{
    padding: 20px !important;
   }
   #events .card{
    margin: 15px 0px;
    width: 25rem !important;
   }
  #teamsec{padding: 0px !important;}
  #aboutteam{
    padding: 3rem 1rem !important;
  }
  .volunteers {
    grid-template-columns: repeat(1, 250px) !important;
  }
  .volunteer,.volunteer img{width: 250px !important;}
  .fotinfo h1{
    font-size:35px !important;
  }
  #goToTopButton{
    right: 30px !important;
  }
}